.landing {
    background-image: url('/images/sutirta-budiman-Jgiv1rSIpVM-unsplash.jpg');
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: #b2a44d;
}

.form-container {
    margin-top: 5%;
    margin-right: 5;
    padding: 2%;
    background-color: white;
    box-shadow: 5px 10px;

}

h1 {
    text-align: center:
}

.description {
    margin-top: 10%;
}

.btn {
    margin: 2%;
    border: 1px solid black;
}

.success {
     background-color: #ce5d28;
}

#animals{
    border: 1px solid black;
    background-color: white;
    padding:5%;
}

#ranger {
    float: right;
}

a:link {
    text-decoration: none;
    color: black;
}

#thanks {
    margin-top: 30px;
    margin-left: 20%;
}
